{% extends "home_page.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section class="hero justify-content-start pt-5">
    <div class="container">

        <h2 class="mb-4 text-center">Create Category</h2>
    
        <!-- Manual Expense Form -->
        <div class="card mb-5 p-4 shadow-sm">
            <form method="POST" class="row g-3">
                <input type="text" name="category_id" id="category_id" hidden>
                {% csrf_token %}
                <div class="col-md-3">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" name="category" class="form-control" id="category" placeholder="Food, Travel..." required>
                </div>
                <div class="col-3 text-center" id="submit_btn_div">
                    <button type="submit" class="btn btn-primary mt-4">Add Category</button>
                </div>
            </form>
        </div>
    
        <!-- Expenses Table -->
        <h3 class="mb-3 text-center">All Created Categories</h3>
        <div class="table-responsive" style="max-height: 60%;">
            <table class="table table-bordered table-striped">
                <thead class="table-primary">
                    <tr>
                        <th>S.no</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ category.name }}</td>
                            <td class="text-center">
                                <!-- Edit Button triggers modal -->
                                <button type="button" class="btn btn-sm btn-warning"
                                data-id="{{ category.id }}"
                                data-name="{{ category.name }}"
                                onclick="editcategoryFromButton(this)"
                                >✍️</button>
                    
                                <!-- Delete Button triggers modal -->
                                <button type="button" class="btn btn-sm btn-danger"   onclick="deleteCategory({{category.id}})">🗑️</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No expenses yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</section>
<script src="{% static './js/jquery.js' %}"></script>
<script>
    function deleteCategory(id) {
    if (!confirm("Are you sure to delete this expense?")) return;

    $.ajax({
        url: "/delete_category/",
        type: "POST",
        data: { id: id ,
            csrfmiddlewaretoken: "{{ csrf_token }}"},
        success: function(response) {
            alert(response.Message);
            location.reload()
        }
    });
}
function editcategoryFromButton(btn) {
  editCategory(
    btn.dataset.id,
    btn.dataset.name
  );
}

function editCategory(id,name) {
    $('#submit_btn_div').empty()
    $("#submit_btn_div").append('<button class="btn btn-primary" >Edit Category</button> <button onclick="windows.location.reload()" class="btn btn-primary">Cancel</button>')
    $("#category_id").val(id);
    $("#category").val(name);

}

</script>
{% endblock %}
